@import url(cdn.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* repeted part */

.wrapper{
    max-width: 1200px;
    padding: 50px 15px;
    margin: 0 auto;
}

.title{
    position: relative;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 50px;
}

.title:after{
    position: absolute;
    content:"";
    width: 170px;
    height: 1px;
    background: #EC7979;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.wrapper--slim{
    padding: 0 15px;
}

/* header */

.header{
    background: black;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-list{
    display: flex;
}

.navigation-list__item{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    width: 113px;
    padding: 27.6px 0;
    
}

.navigation-list__item a{
    color: #FFFFFF;
    transition: 0.3s;
}

.navigation-list__item a:hover{
    color: #EC7979;
    transition: 0.3s;
}

/* section main/AXIT */

.main{
    position: relative;
    background: url(../assets/img/main.jpg) no-repeat center/cover;
    z-index: 0;
}

.main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.wrapper--main{
    padding: 208px 15px 185px;
}

.axit-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.axit-info{
    width: 55%;
}

.axit-logo{
    padding: 23px 0;
}

.axit__title{
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 50px;
    padding-bottom: 55px;
}

.axit__title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 170px;
    background: #FFFFFF;
}

.axit__description{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 42px 0;
    width: 41.8%;
}

.axit__btn{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.axit__btn a{
    display: block;
    width: 270px;
    padding: 17px 0;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    /* margin: 73px auto 0; */
    transition: 0.3s;
}

.axit__btn a:hover{
    color: #EC7979;
    border-color: #EC7979;
}

.axit__btn a:active{
    border-color: #AB4949;
    background-color: #AB4949;
    color: white;
}

.axit-form{
    background: #FFFFFF;
    border-radius: 10px;
    width: 40%;
    overflow: hidden;
}

.axit-card{
    padding: 28.5px 50px 0;
}

.axit-card__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
}

.title--pink{
    color: #EC7979;
}

.axit-data{
    display: flex;
    flex-direction: column;
    margin-top: 57.5px;
}

.axit__name,
.axit__email,
.axit__password{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    outline: none;
    border: none;
    border-bottom: solid 1px #BDBDBD;
    padding: 16px 0;
    margin-bottom: 34px;
}

.axit__name::placeholder,
.axit__email::placeholder,
.axit__password::placeholder{
    color: #BDBDBD;
}

.axit-form__btn{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 41px auto 0;
    padding: 20px 0;
    width: 100%;
    background: #EC7979;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.axit-form__btn:hover{
    background-color: #AB4949;
    color: white;
}

.axit-form__btn:active{
    background-color: #EC7979;
    box-shadow: inset 0 0 10px 0 #AB4949;
}

/* section s-media */

.s-media{
    background: #F8EFEF;
}

.media-content{
    display: flex;
    justify-content: space-between;
}

.media-text{
    padding: 15.5px 30px 0 0;
}

.media__title{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.media__description{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding-top: 31.5px;
    color: #86878B;
}

.media-icons{
    display: flex;
    padding: 35px 0;
}

.media-icons__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
}

.media-icons__item:not(:first-child){
    margin-left: 30px;
}

.social-svg{
    fill: #CCCCCC;
    transition: 0.5s;
}

.social-svg:hover{
    transform: scale(1.3);
}

.media-facebook:hover{
    fill: #3b5998;
}

.media-twitter:hover{
    fill: #1faee9;
}

.media-linkedin:hover{
    fill: #0e76a8;
}

.media-pinterest:hover{
    fill: #c8232c;
}

.media-instagram:hover{
    fill:  #3f729b;
}

.media-github:hover{
    fill: #171515;
}

.media-rss:hover{
    fill:  #ee802f;
}

/* section tabs */

.tabs-list{
    display: flex;
}

.btn-item{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 10px 81px;
    background-color: white;
    border: none;
}

.btn-item--active{
    border: 1px solid #C6CBCD;
    border-bottom: 1px solid white;
    position: relative;
    top: 1px;
    border-radius: 3px 3px 0 0;
    background: #FFFFFF;
}

.tabs-content{
    display: flex;
    border: 1px solid #C6CBCD;
    background: #FFFFFF; 
}

.tabs-card{
    padding: 41px 30px 0 100px;
}

.tabs__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
}

.tabs-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 68px;
}

.tabs-description--down-text{
    margin-top: 21px;
}

.tabs__btn a{
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.tabs__btn{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.tabs__btn a{
    display: block;
    width: 270px;
    padding: 17px 0;
    margin-top: 27px;
    background: #EC7979;
    text-align: center;
    transition: 0.3s;
}

.tabs__btn a:hover{
    background-color: #AB4949;
    color: white;
}

.tabs__btn a:active{
    background-color: #EC7979;
    box-shadow: inset 0 0 10px 0 #AB4949;
}

.img-statue{
    display: block;
}

/* section  awesome*/

.title-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    margin-top: 40px;
}

.awesome-content{
    margin-top: 110px;
    display: flex;
}

.awesome-card--marg{
    margin: 0 30px;
}

.awesome-card__img{
    width: 92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
}

.img-bulb{
    padding-top: 8px;
}

.img-key{
    padding-top: 22px;
}

.img-energy{
    padding-top: 15px;
}

.awesome-card__title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    padding: 38px 0;
    margin-top: 39px;
}

.awesome-card__description{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 8px 0;
}

/* section  pricing*/

.pricing{
    background: #F5F5F5;
}

.pricing-content{
    margin-top: 60px;
    display: flex;
    /* justify-content: space-between; */
}

.pricing-card--marg{
    margin: 0 30px;
}

.pricing-card{
    width: 100%;
    transition: 0.3s;
}

.pricing-list__item{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;   
    background: #FFFFFF;
    color: #86878B;
    padding: 15px 0;
    border: 1px solid #F5F5F5;
    text-transform: capitalize; 
    text-align: center;  
}

.pricing-list__item--tarif,
.pricing-list__item--cost,
.pricing-list__item--text{
    background: #333333;
    color: #FFFFFF;
}


.pricing-list__item--tarif{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

}

.pricing-list__item--cost{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 30px 0;
}

.pricing-list__item--text{
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
}

.pricing-card:hover{
    transform: translateY(-20px);
    cursor: pointer;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

/* section customers */

.customers-content{
    display: flex;
    /* justify-content: space-between; */
    margin-top: 83px;
}

.customers-card{
    /* max-width: 370px; */
}

.customers-card--marg{
    margin: 0 30px;
}

.customers__description{
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 10px;
    padding: 38px 25px;
}

.customers__description::after{
    position: absolute;
    content: "";
    bottom: -20px;
    left: 60px;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 20px solid #E2E2E2;
}

.customers-info{
    margin-top: 66px;
    display: flex;
}

.customers-info__name{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.customers-info__profession{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-top: 25px;
}

.customers-info-img{
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 30px;
}

.customers__img{
    width: 100px;
    position: absolute;
}

.customers__img--davis{
    top: -10px;
    left: -10px;
}

.customers__img--jaydon{
    top: -20px;
    left: -19px;
}

.customers__img--cooper{
    top: -5px;
    left: -18px;
}

/* section banner */

.banner{
    background: url(../assets/img/banner-img.jpg) no-repeat center/cover;
    position: relative;
    z-index: 0;
}

.banner:after{
    position: absolute;
    content: '';
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.banner-btn{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* width: 370px; */
   
}

.banner-btn a{
    display: block;
    width: 31.8%;
    padding: 17px 0;
    border: 2px solid #FFFFFF;
    margin: 73px auto 0;
    transition: 0.3s;
}

.banner-btn a:hover{
    color: #EC7979;
    border-color: #EC7979;
}

.banner-btn a:active{
    border-color: #AB4949;
    background-color: #AB4949;
    color: white;
}

.banner-btn a,
.title--color,
.title-description--color{
    color: white;
}

.title--color:after{
    background-color: white;
}

/* section contact us */

.contact-form{
    margin-top: 73px;
}

.contact-info{
    display: flex;
    justify-content: space-between;
}

.contact-data{
    display: flex;
    flex-direction: column;
    width: 48.6%;
}

.contact__name,
.contact__email,
.contact__password,
.contact-message{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    outline: none;
    border: none;
    border-bottom: solid 1px #BDBDBD;
    padding: 16px 0;
    margin-bottom: 34px;
}

.contact__name::placeholder,
.contact__email::placeholder,
.contact__password::placeholder,
.contact-message::placeholder{
    color: #BDBDBD;
}

.contact-message{
    width: 48.6%;
    resize: none;
}

.contact__btn{
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    margin: 16px auto 0;
    padding: 16.5px 0;
    width: 31.8%;
    background: #EC7979;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.contact__btn:hover{
    background-color: #AB4949;
    color: white;
}

.contact__btn:active{
    background-color: #EC7979;
    box-shadow: inset 0 0 10px 0 #AB4949;
}

/* footer */

.footer{
    background: #000000;
}

.footer-content{
    padding: 35px 0 27px;
}

.footer-icons{
    display: flex;
    justify-content: center;
}

.footer-icons__item{
    display: flex;
    width: 53.2px;
    height: 53.2px;
    justify-content: center;
    align-items: center;
}

.footer-icons__item:not(:first-child){
    margin-left: 35px;
}

.fa-brands,
.fa-solid{
    color:  #CCCCCC;
    transition: 0.5s;
}

.fa-brands:hover,
.fa-solid:hover{
    transform: rotate(90deg);
}

.fa-facebook-f{
    font-size: 42.12px;
}

.fa-twitter{
    font-size: 35.38px;
}

.fa-linkedin{
    font-size: 40px;
}

.fa-pinterest{
    font-size: 44.33px;
}

.fa-instagram{
    font-size: 40px;
}

.fa-github{
    font-size: 43.13px;
}

.fa-rss{
    font-size: 34.5px;
}

.fa-facebook-f:hover{
    color: #3b5998;
}

.fa-twitter:hover{
    color: #1faee9;
}

.fa-linkedin:hover{
    color: #0e76a8;
}

.fa-pinterest:hover{
    color: #c8232c;
}

.fa-instagram:hover{
    color: #3f729b;
}

.fa-github:hover{
    color: #690303;
}

.fa-rss:hover{
    color: #ee802f;
}

.footer-comment{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 27.8px;
}

@media screen and (max-width: 1200px) {
    .wrapper--main {
        padding: 137px 20px 106px 115px;
    }

    .title{
        font-size: 24px;
        line-height: 28px;
    }

    .title-description{
        font-size: 14px;
        line-height: 16px;
    }

    .title::after{
        width: 142px;
    }

    .axit-logo{
        padding: 18.84px 0;
    }

    .axit-logo__img{
        height: 41.17px;
    }

    .axit__title{
        font-size: 36px;
        line-height: 42px;
        padding-bottom: 41.5px;
        margin-top: 37.6px;
    }

    .axit__title::after{
        width: 115.28px;
    }

    .axit__description{
        font-size: 14px;
        line-height: 16px;
        margin: 31px 0;
    }

    .axit__btn a{
        width: 183px;
        padding: 12.5px 0;
    }

    .axit-form{
        width: 398px;
    }

    .media-text {
        padding: 12px 20px 0 0;
    }

    .media__title{
        font-size: 18px;
        line-height: 25px;
    }

    .media__description{
        font-size: 14px;
        line-height: 16px;
        padding-top: 23px;
    }

    .media-icons__item{
        width: 64px;
        height: 64px;
    }

    .social-svg{
        transform: scale(0.9);
    }

    .media-icons{
        padding: 25px 0 15px;
    }

    .media-icons__item:not(:first-child){
        margin-left: 20px;
    }

    .img-statue{
        width: 398.21px;
        height: 100%;
    }

    .tabs-card{
        padding: 29px 26px 50px 83px;
    }

    .tabs__title{
        font-size: 24px;
        line-height: 33px;
    }

    .tabs-description{
        margin-top: 66px;
    }

    .tabs__btn a{
        width: 231px;
    }

    .awesome-card__title {
        font-size: 18px;
        line-height: 25px;
    }

    .awesome-card__description{
        font-size: 14px;
        line-height: 16px;
    }

    .awesome-card--marg,
    .pricing-card--marg,
    .customers-card--marg{
        margin: 0 20px;
    }

    .customers__description,
    .customers-info__profession{
        font-size: 14px;
        line-height: 16px;
    }

    .customers-info__name{
        font-size: 18px;
        line-height: 25px;
    }

    .banner-btn a,
    .contact__btn{
        width: 318px;
    }

    .awesome-card__img{
        width: 79.55px;
        height: 79.55px;
    }

    .img-bulb{
        width: 56.46px;
        padding-top: 10px;
    }

    .img-key{
        width: 57.07px;
        padding-top: 19px;
    }

    .img-energy{
        width: 38.05px;
        padding-top: 12px;
    }

    .fa-brands,
    .fa-solid{
        transform: scale(0.9);
    }

    .footer-icons__item{
        width: 45px;
        height: 45px;
    }

    .footer-icons__item:not(:first-child){
        margin-left: 27px;
    }
}

@media screen and (max-width: 768px){
    .navigation{
        display: none;
    }

    .logo{
        margin-left: 5px;
    }

    .burger{
        position: relative;
        background: #FFFFFF;
        width: 24px;
        height: 3px;
        margin-right: 20px;
    }

    .burger::before{
        content: '';
        position: absolute;
        background: #FFFFFF;
        width: 24px;
        height: 3px;
        top: -7px;
        left: 0;
    }

    .burger::after{
        content: '';
        position: absolute;
        background: #FFFFFF;
        width: 24px;
        height: 3px;
        bottom: -7px;
        left: 0;
    }

    .img-logo{
        height: 22.92px;
    }

    .logo{
        padding: 16.5px 0;
    }

    .axit-content{
        flex-wrap: wrap;
        justify-content: center;
    }

    .axit__btn a{
        width: 288px;
    }

    .axit__title::after{
        width: 134px;
        left: 50%;
        transform: translate(-50%);
    }

    .wrapper--main {
        padding: 84px 15px 50px;
    }

    .axit-logo{
        display: none;
    }

    .axit-form{
        width: 100%;
    }

    .axit-card{
        padding: 28.5px 28px 0 20px;
    }

    .axit-data{
        margin-top: 12.5px;
    }

    .axit-info{
        width: 100%;
    }

    .axit__title{
        text-align: center;
        padding-bottom: 44px;
        margin-top: 0;
    }

    .axit__description{
        width: 100%;
        text-align: center;
    }

    .axit__btn a{
        margin: 0 auto;
    }

    .axit__description{
        margin: 42px 0;
    }

    .axit-form{
        margin-top: 56px;
    }

    .axit-form__btn{
        margin-top: 17px;
    }

    .media-content{
        flex-direction: column;
    }

    .media-text {
        padding: 31px 0 0 0;
    }

    .media__title,
    .media__description{
        text-align: center;
    }

    .media-icons__item{
        width: 26px;
        height: 26px;
    }

    .social-svg{
        transform: scale(0.4);
    }

    .media-icons{
        padding: 32px 0 44px;
        margin: 0 auto;
    }

    .media-icons__item:not(:first-child){
        margin-left: 17px;
    }

    .btn-item{
        padding: 10px 28px;
    }
    
    .tabs-img{
        display: none;
    }

    .tabs-card{
        padding: 41px 22.5px 30px;
    }

    .tabs__title{
        text-align: center;
    }

    .tabs-description{
        margin-top: 57px;
        text-align: center;
    }

    .tabs__btn a{
        margin: 29px auto 0;
        width: 243px;
    }

    .awesome-content{
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .awesome-card{
        margin-top: 43.72px;
    }

    .pricing .wrapper{
        padding: 50px 15px 0;
    }

    .pricing-content{
        flex-wrap: wrap;
    }

    .pricing-card{
        padding-bottom: 27px;
    }

    .pricing-card--marg{
        margin: 0;
    }

    .customers-card:not(:nth-child(2)){
        display: none;
    }

    .customers-card--marg{
        margin: 0;
    }

    .banner-btn a{
        width: 287px;
        margin: 66px auto 0;
    }

    .contact-info{
        flex-direction: column;
    }

    .contact-data,
    .contact-message{
        width: 100%;
    }

    .contact__btn{
        width: 288px;
    }

    .contact-us .wrapper{
        padding: 50px 15px 40px;
    }

    .fa-brands,
    .fa-solid{
        transform: scale(0.55);
    }

    .footer-icons__item{
        width: 26px;
        height: 26px;
    }

    .footer-icons__item:not(:first-child){
        margin-left: 17px;
    }

    .footer-comment{
        margin-top: 42px;
        font-size: 14px;
        line-height: 16px;
    }

    .footer-content {
        padding: 35px 0 45px;
    }
}